export PORT=5000
export DB_USER="root"
export DB_PASS="root"
export DB_HOST="localhost"
export DB_PORT="3306"
export API_SECRET=MY_SECRET
export APP_URL=monetran.com
export EMAIL_PORT=465
export EMAIL_FROM=me@example.com
export EMAIL_HOSTNAME=example-webhost.com
export EMAIL_PASS="sample_pass"
export VERIFY_EMAIL_TEMP_LOC=/path/to/temp/temp.html
export export APP_BUILD_DIR=/path/to/build
export WALLET_PUB_KEY=sample_wallet_public_key
export WALLET_SEC_KEY=sample_wallet_secret_key
export APP_FED_URL=account*monetran.com
export COWRIES_API_URL="https://api.cowrie.exchange"
export PAYMENT_SRV_URL="http://localhost:9000/payment"
export NGN_RATE=350
export APP_FEE="0.1"
export NOTIFY_EMAIL=codehakase@gmail.com
export ENV="dev"
export STELLAR_BASE_FEE="0.00001"
export NGNT_WALLET_PUB_KEY=
export NGNT_WALLET_SEC_KEY=
export NGNT_ISSUER=
